*
{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
body
{
 display:flex;
 justify-content: center;
 align-items: center;
 min-height: 100hv;
 background: lightblue;

}
.face
{
 position:relative;
 width: 300px;
 height:300px;
 margin: 200px;
 border-radius:50%;
 background:yellow;
 display:flex;
 justify-content: center;
 align-items: center;
}
.face::before{
    content:'';
    position: absolute;
    top: 180px;
    width: 150px;
    height: 70px;
    background:black;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    transition: 0.3s;
}
.face:hover::before{
    top: 210px;
    width: 150px;
    height: 20px;
    background:black;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.eyes
{
    position:relative;
    top:-40px;
    display:flex;
}

.eyes .eye{
 position: relative;
 width: 80px;
 height:80px;
 display: block;
 background: white;
 margin: 0 15px;
 border-radius: 50%;
}
.eye-black{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background:black;
    border-radius: 50%;
}
